{% load static %}
<section class="footer bg-dark-subtle border-top border-3 border-tertiary">
    <div class="container">
        <div class="row">
            <div class="col my-4"><a href="/" class="navbar-brand"><img src="{% static 'img/logo.png' %}" class="d-inline-block" width="150px" alt="UdmDrf Logo"/></a></div>
            <div class="col my-4">
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a href="/#news" class="nav-link px-2 text-muted">AGBs</a></li>
                    <li class="nav-item"><a href="/#news" class="nav-link px-2 text-muted">Impressum</a></li>
                    <li class="nav-item"><a href="/#news" class="nav-link px-2 text-muted">Datenschutz</a></li>
                    <li class="nav-item"><a href="/#news" class="nav-link px-2 text-muted">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container border-top border-2 border-tertiary">
        <div class="row">
            <div class="col text-center m-2 text-muted">UdmDrf © 2023 Patrick Fraley</div>
        </div>
    </div>
</section>
