{% load static tailwind_tags %}
{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock %}</title>
		{% tailwind_css %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content_wrapper %}
    <div id="main">
        <header>
          {% include "partials/nav.html" %}
        </header>
        <div id="main_content" class="container mx-auto mt-4">
          {% block content %}
          {% endblock %}
        </div>
        {% block extra_body %}
        {% endblock %}
        {% include "partials/footer.html" %}
    </div>
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    {% block extra_scripts %}
    {% endblock %}
  </body>
</html>
